### Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
#nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Importing Twitter sentiment dataset

In [22]:
column_names = ['target', 'id', 'date', 'flag', 'user', 'text']
twitter_data = pd.read_csv('../twitter_data.csv', names=column_names, encoding = 'ISO-8859-1')
twitter_data.shape
twitter_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [23]:
twitter_data.isnull().sum()
twitter_data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [24]:
#convert target "4" to "1" which labels positive
twitter_data.replace( {'target' : {4:1}}, inplace=True)

##### 1 -> Positive Tweet and 0 -> Negative Tweet

In [2]:
def lemmatization(content):
    lemmatizer = WordNetLemmatizer()
    content = re.sub('[^a-zA-Z]', ' ', content)  # Remove non-alphabetic characters
    content = content.lower()  # Convert to lowercase
    tokens = content.split()  # Tokenize
    stop_words = set(stopwords.words("english"))
    tokens = [token for token in tokens if token not in stop_words]  # Remove stop words
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]  # Lemmatize
    return ' '.join(lemmatized_tokens)  # Return as a single string

In [ ]:
twitter_data['lemmatized_content'] = twitter_data['text'].apply(lemmatization)

In [2]:
twitter_data = pd.read_csv('../twitter_data_cleaned.csv', encoding = 'ISO-8859-1')
twitter_data.shape
twitter_data.head()

,target,id,date,flag,user,text,lemmatized_content
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",switchfoot http twitpic com zl awww bummer sho...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset update facebook texting might cry result...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kenichan dived many time ball managed save res...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole body feel itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",nationwideclass behaving mad see

In [4]:
twitter_data['lemmatized_content'].head()

0    switchfoot http twitpic com zl awww bummer sho...
1    upset update facebook texting might cry result...
2    kenichan dived many time ball managed save res...
3                      whole body feel itchy like fire
4                     nationwideclass behaving mad see
Name: lemmatized_content, dtype: object

In [5]:
twitter_data['target'].head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

### Splitting of data to train and test

In [6]:
x = twitter_data['lemmatized_content']
y = twitter_data['target'].astype(str)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)
print(x_train.shape, x_test.shape)

(1280000,) (320000,)

In [12]:
x_train = x_train.dropna()
x_test = x_test.dropna()

### converting textual data into numerical data

In [13]:
vectorizer = TfidfVectorizer()
x_train = vectorizer.fit_transform(x_train)
x_test = vectorizer.transform(x_test)

In [14]:
print(x_train)

  (0, 33739)	0.6715878371346845
  (0, 141607)	0.7409249469499299
  (1, 261187)	0.7706162057102356
  (1, 473471)	0.637299508470515
  (2, 256060)	0.6346326748170188
  (2, 46210)	0.22863697802883276
  (2, 139734)	0.2807509282429154
  (2, 101506)	0.16555675370141573
  (2, 449676)	0.29760708766127797
  (2, 152980)	0.22297405047235314
  (2, 158891)	0.17458498775759967
  (2, 300173)	0.48590919379238373
  (2, 444025)	0.18401442757150496
  (3, 219349)	0.530855023120997
  (3, 332765)	0.389868675709373
  (3, 194863)	0.5254505586434566
  (3, 481971)	0.2066430761366257
  (3, 9322)	0.3556518314823692
  (3, 308762)	0.3477175353604331
  (4, 494341)	0.7443914382724511
  (4, 325886)	0.3668806906777518
  (4, 339736)	0.3221720291509442
  (4, 450796)	0.3210222368147889
  (4, 246084)	0.32315608076853536
  (5, 101506)	0.17744381132356482
  :	:
  (1279608, 144107)	0.2632887049800413
  (1279608, 488752)	0.5641557560705639
  (1279608, 37214)	0.41021494489381904
  (1279609, 454473)	0.2648227801531904
  (1279609, 147413)	0.32562739894212056
  (1279609, 336232)	0.29237368691111826
  (1279609, 139276)	0.464501912789988
  (1279609, 363072)	0.7229047602461653
  (1279610, 325886)	0.32012731474369566
  (1279610, 382752)	0.2454945934280019
  (1279610, 253009)	0.18770660236983083
  (1279610, 21982)	0.3020242621067999
  (1279610, 295528)	0.2255787475745476
  (1279610, 94368)	0.32812850617192435
  (1279610, 172557)	0.32219268214815644
  (1279610, 293374)	0.3575921877876543
  (1279610, 24281)	0.566183802631022
  (1279611, 444025)	0.21688464012892508
  (1279611, 193256)	0.23421257771045842
  (1279611, 169989)	0.2819849053625594
  (1279611, 136369)	0.3176883154247042
  (1279611, 423028)	0.3301220743993352
  (1279611, 288589)	0.3123389482824393
  (1279611, 31511)	0.3253904631510266
  (1279611, 72569)	0.6365917157638097

In [15]:
print(x_test)

  (0, 6197)	0.2993959453070914
  (0, 57242)	0.3832879360216848
  (0, 163497)	0.12081187189944378
  (0, 193256)	0.12818965095056176
  (0, 238172)	0.1259619688174248
  (0, 293562)	0.31395022161879976
  (0, 302000)	0.4093945913520039
  (0, 321761)	0.1343460427615613
  (0, 337853)	0.33420343454493046
  (0, 342062)	0.18208405326148835
  (0, 360644)	0.18237371004589922
  (0, 401649)	0.2098396549445486
  (0, 418324)	0.16266182030847864
  (0, 447918)	0.19797842008445246
  (0, 462781)	0.3398080398008447
  (0, 482040)	0.1705202792016399
  (1, 32983)	0.5655550077729987
  (1, 168271)	0.8247105754038099
  (2, 42446)	0.30099827019659486
  (2, 46997)	0.3915203762327569
  (2, 330410)	0.5219744678441565
  (2, 372090)	0.5026140789263611
  (2, 415707)	0.4806595249415467
  (3, 62107)	0.7161216062745414
  (3, 236883)	0.48208503416578746
  :	:
  (319889, 143921)	0.26737274779308406
  (319889, 147461)	0.2926915909370904
  (319889, 147530)	0.3080043927119497
  (319889, 351134)	0.393075708217702
  (319889, 386776)	0.21332628046342694
  (319889, 416977)	0.43790884575500916
  (319889, 441541)	0.47078353038508564
  (319889, 452874)	0.3668226225342379
  (319890, 40630)	0.8082658545538745
  (319890, 164035)	0.2635598886189524
  (319890, 288209)	0.32053505564831125
  (319890, 301276)	0.41773169807185423
  (319891, 158891)	0.26023134932376224
  (319891, 193888)	0.5483103590094742
  (319891, 238172)	0.2910532711572998
  (319891, 362646)	0.7395426886804242
  (319892, 35542)	0.40368919814675747
  (319892, 72248)	0.45796098329761564
  (319892, 148482)	0.3543047441928701
  (319892, 198383)	0.37791355213627414
  (319892, 249386)	0.3147963556110832
  (319892, 255706)	0.29378932092228593
  (319892, 324486)	0.2314427978682358
  (319892, 377450)	0.2661167646094199
  (319892, 481410)	0.22172833094942487

In [30]:
!git add .
!git commit -m "add TfidfVectorization"
!git push -u origin main

warning: in the working copy of '.ipynb_checkpoints/train_model-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'train_model.ipynb', LF will be replaced by CRLF the next time Git touches it

[main f5da27a] add train_test_split of dataset
 2 files changed, 496 insertions(+), 128 deletions(-)
branch 'main' set up to track 'origin/main'.

To https://github.com/RevanasiddaNK/Twitter-Sentimental-Analysis.git
   bdd896a..f5da27a  main -> main